$navbar-border: solid 0.3px grey;
$navbar-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);

.topbar {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: $navbar-box-shadow;
  .topbar-item {
    display: flex;
    border: $navbar-border {
      right: none;
    }
    padding: 5px;
  }
}

.restaurant {
  align-items: center;
  justify-content: start;
  flex: 4;
}
.user {
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}
