a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  visibility: hidden;
}

.MuiBox-root {
  // height: 83vh;
}

.display-tab {
  transition: transform 200ms;
  cursor: pointer;
  border-radius: 10px;
  .image-holder {
    height: 40%;
  }
}
.display-tab:hover {
  transform: translateY(-5px);
}
